<h1>Bienvenido, <%= @user.name %></h1>
  <p>
    Se ha registrado exitosamente como <%= @user.userable_type %> en tuteroapp.com.<br>
  </p>
<p>Gracias por usar nuestros servicios, que tenga un excelente dia!.</p>